<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>后台管理系统介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">
                徐先生的技术栈<a target="_blank" href="http://gzxu.top/">http://gzxu.top/</a><br>
                <h4 class="text-danger">优秀是一种习惯</h4>
            </blockquote>

            <hr>
        </div>
        <div class="col-sm-3">
            <h2>Hello,Guest</h2>
            <small>有疑问请扫描以下二维码：</small>
            <br>
            <br>
            <img th:src="@{/img/qr_code.png}" width="100%" style="max-width:264px;">
            <br>
        </div>
        <div class="col-sm-5">
            <h2>后台管理系统</h2>
            <p>关于系统的介绍<b>Frank</b>关于系统的介绍</p>
            <p>
                <b>当前版本：</b><span>v[[${version}]]</span>
            </p>
            <p>
                <span class="label label-warning">强大的框架</span>
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="http://gzxu.top/" target="_blank">
                    <i class="fa fa-cloud"> </i> 访问Github
                </a>
                <a class="btn btn-white btn-bitbucket" href="http://gzxu.top/docsify/" target="_blank">
                    <i class="fa fa-home"></i> 访问主页
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>技术选型：</h4>
            <ol>
                <li>核心框架：Spring Boot。</li>
                <li>安全框架：Apache Shiro。</li>
                <li>模板引擎：Thymeleaf。</li>
                <li>持久层框架：MyBatis。</li>
				<li>定时任务:Quartz。</li>
                <li>数据库连接池：Druid。</li>
                <li>工具类：Fastjson。</li>
                <li>更多……</li>
            </ol>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>

                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 官网：<a href="http://gzxu.top" target="_blank">http://gzxu.top</a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ：<a href="https://jq.qq.com/?_wv=1027&k=5fdQ1eG" target="_blank">991875160</a>
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：13783503353
                        </p>
                        <p><i class="fa fa-credit-card"></i> 支付宝：13783503353
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                            ··<div class="panel panel-default">
								<div class="panel-heading">
								   <h5 class="panel-title">
									   <a data-toggle="collapse" data-parent="#version" href="#v40">v4.0.0</a><code class="pull-right">2019.08.08</code>
								   </h5>
								</div>
								<div id="v40" class="panel-collapse collapse in">
									<div class="panel-body">
									   <ol>
									        <li>代码生成支持预览、编辑，保存方案</li>
									        <li>新增防止表单重复提交注解</li>
											<li>新增后端校验（和前端保持一致）</li>
										</ol>
									</div>
								</div>
							 </div>
                              <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v00">v0.0.1</a><code class="pull-right">2018.03.01</code>
                                        </h4>
                                    </div>
                                    <div id="v00" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>自用后台管理系统正式启动研发。</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', 'auto'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
